extends ../layout

block content
	include ../principal
	
	br 
	br 
	h4 (conteudo fixo index.jade) Nodejs_Class_20 - home index.jade
	br 
	ul
	li
		a(href="/clientes" title="Clientes", class="btn btn-success") Clientes
	li
		a(href="/usuarios" title="usuarios", class="btn btn-warning") Usuarios
	li
		a(href="/contatos" title="Contato", class="btn btn-success") Contato
		
	include ../zzzprincipal
	